<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
</head>
<body>
  <div class="ui large fixed inverted secondary menu">
    <div class="item">
      <a href="../">
      <img class="ui image" src="../images/ctyz-white.png" style="max-width: 200px;">
      </a>
    </div>
  </div>
  <div class="ui four column grid" style="margin-top: 50px;">
      <div class="column">
          <img class="ui medium centered circular image" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAffAAAAJGRlNDk2NmY4LWU1NzctNGU1OS1iNjNjLTZmYWJiNjE1MjM1Nw.jpg">
          <br/>
          <h2 class="ui centered header">Ravi Vats</h2>
      </div>
      <div class="column">
          <img class="ui medium centered circular image" src="../images/Satya.jpeg">
          <br/>
          <h2 class="ui centered header">Satya Teja</h2>          
      </div>
       <div class="column">
          <img class="ui medium centered circular image" src="../images/Dhull.jpeg">
          <br/>
          <h2 class="ui centered header">Vishal Dhull</h2>
      </div>
      <div class="column">
          <img class="ui medium centered circular image" src="../images/sriikruth.jpg">
          <br/>
          <h2 class="ui centered header">Srikruth S</h2>
      </div>

  </div>
  <hr type="2" />
  <h3 class="ui centered header" ><i>CSE, 6<sup>th</sup> Semester, Ramaiah Institute of Technology</i></h3>
</body>
</html>