<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <form action="../admin/hareas" method="post">
    <input type="text" name="area" placeholder="Area" />
    <input type="number" name="pin" placeholder="PIN" />
    <button type="submit">submit</button>
    </form>
</body>
</html>