<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
</head>
<body>
  <div class="ui large fixed inverted secondary menu">
    <div class="item">
      <img class="ui image" src="../images/logo.png" style="max-width: 200px;">
    </div>
    <a class="item" href="/about"><b>About Us</b></a>
    <div class="right menu">
      <div class="item">
        <a class="ui blue button" href="/login">Log In</a>
      </div>
      <div class="item">
        <a class="ui green button" href="/signup">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="ui vertical masthead center aligned segment" style="background-image: url('images/back.png'); background-size: cover; height: 100%;">
    <div class="ui text container" style="margin-top: 15%;">
      <h1 class="ui inverted header" style="font-size: 4em;font-weight: 900;">Welcome to Cityzen</h1>
      <h2 class="ui inverted header" style="font-weight: 900;">A smart complaint addressal platform</h2>
      <a class="ui huge primary button" href="/signup">Join Cityzen<i class="right arrow icon"></i></a>
    </div>
  </div>
</body>
</html>
